.vs

# only selectively include scraped data
data/webscrape/**/*.*
!data/webscrape/**/*.yaml
!data/webscrape/**/img/*.jpg

# exclude data used for local development
localDev-data

# exclude site build artifacts
_site
cache
temp
wwwroot

# exclude dotnet build artifacts
bin
obj