@import "./_common";

.header {
  &>* {
    padding: 0 32px;
  }

  .title-bar {
    display: flex;
    align-items: center;
    background-color: $header-color;

    h1 {
      flex: 1;
      margin: 2px 0;
      padding: 0;
      background-color: unset;

      .alt {
        display: inline;
        vertical-align: middle;
        color: white;
        font-size: 50%;
        margin-left: 32px;        
      }
    }
    .profile-nav {
      a {
        display: inline-block;
        margin-left: 24px;
        // min-width: 110px;
        // text-align: center;
        // background-color: pink;
      }
    }
  }
  .attributions {
    // background-color: red;
    margin: 6px 0;
  }
}

.col-layout {
  display: flex;

  .left-col {
    flex: 0;
    .cart-faces {
      display: flex;
      flex-direction: column;

      .cart-face {
        max-width: 225px;
        margin: 6px;
      }
    }
  }

  .center-col {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.section {
  &.release-info {
    flex: 1;
    min-width: 400px;
  }

  &.cart-properties {
    flex: 1;
    min-width: 400px;
  }

  &.pcb-properties {
    flex: 1;
    min-width: 400px;
  }

  &.rom-details {
    flex: 1;
    min-width: 400px;
  }

  &.detailed-chip-info {
    flex: 2;
  }
}

.gallery {
  display: flex;

  a.img-link {
    display: inline-block;
    vertical-align: top;
    // background: pink;
    & > div {
      text-align: center;
    }
  }

  .additional-images {
    flex: 2;
  }

  .pcb-images {
    flex: 1;
    img {
      max-width: 225px;
    }
  }

  img {
    max-height: 225px;
    margin: 6px;
  }
}

.sub-detail {
  &.highlighted {
    color: lime;
  }
  &.implied {
    color: #ff8000;
  }

  &.dimmed {
    color: gray;
  }
}